.contact-data{
    height: 450px;
    width: 850px;
    max-width: 95%;
    box-shadow: 0 0 15px blue;
    text-align: center;
    margin: 30px auto;
    padding: 25px;
    background-color: white;
    border-radius: 20%;
    color: black;
    
}

.contact-data input{
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    background: transparent;
    padding: 8px;
}
.contact-data button{
    border-radius: 30px;
    font-size: 30px;
    color: black;
    background-color: blue;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .contact-data{
        height: auto;
        border-radius: 8%;
        padding: 20px 15px;
    }
    .contact-data h1{
        font-size: 22px !important;
    }
    .contact{
        flex-direction: column;
        gap: 5px;
    }
    .contact-data input{
        width: 100%;
        font-size: 14px;
    }
    .contact-data button{
        font-size: 18px;
        width: 100%;
    }
}